<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!-- <extension
           id="org.openntf.domino.xsp.Servlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/openntf_domino"
              class="org.openntf.domino.xsp.OpenntfServlet"
              load-on-startup="true">
        </servlet>
     </extension> -->
   <extension
         point="com.ibm.commons.Extension">
      <service
            class="org.openntf.domino.xsp.XspLibrary"
            type="com.ibm.xsp.Library">
      </service>
   </extension>
   <extension point="com.ibm.commons.Extension">
         <service type="com.ibm.xsp.library.Contributor" class="org.openntf.domino.xsp.OpenntfDominoXspContributor" />
   </extension>
   <extension
         point="com.ibm.commons.Extension">
      <service
            class="org.openntf.domino.xsp.helpers.OpenntfViewNavigatorFactoryFactory"
            type="com.ibm.xsp.model.domino.ViewNavigatorFactory">
      </service>
   </extension>
   
   
     <extension point="com.ibm.commons.Extension">
         <service type="com.ibm.designer.runtime.extensions.JavaScriptProvider" class="org.openntf.domino.xsp.script.OpenDomJavaScriptExtension" />
   </extension>
   
      <!-- needed to start automatically and to put a wrapper around "doService" to terminate the factory in each thread-->
   <extension point="com.ibm.commons.Extension">
         <service type="com.ibm.xsp.adapter.serviceFactory" class="org.openntf.domino.xsp.adapter.OpenntfServiceFactory" />
   </extension>
   <extension
         point="com.ibm.commons.Extension">
      <service
            class="org.openntf.domino.xsp.script.WrapperOpenDomino"
            type="org.openntf.domino.xsp.script.WrapperRegistry">
      </service>
   </extension>
   
   <extension
         point="com.ibm.commons.Extension">
      <service
            class="org.openntf.domino.i18n.FormulaMessageProvider"
            type="org.openntf.domino.i18n.MessageProvider">
      </service>
   </extension>
   <extension
         point="com.ibm.commons.Extension">
      <service
            class="org.openntf.domino.i18n.RawMessageProviderImpl"
            type="org.openntf.domino.i18n.RawMessageProvider">
      </service>

   </extension>
   
	<extension point="com.ibm.commons.Extension">
		<service class="org.openntf.domino.xots.builtin.XotsApplicationListener" type="com.ibm.xsp.core.events.ApplicationListener"/>
	</extension>
      <extension
         point="com.ibm.commons.Extension">
      <service
			class="org.openntf.formula.function.FocFunctions$Functions"
            type="org.openntf.formula.FunctionSet">
      </service>
   </extension>
   


</plugin>
