<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.ibm.commons.Extension">
      <service
            class="org.openntf.domino.xsp.XspLibrary"
            type="com.ibm.xsp.Library">
      </service>
   </extension>
   <extension point="com.ibm.commons.Extension">
         <service type="com.ibm.xsp.library.Contributor" class="org.openntf.domino.xsp.XspContributor" />
   </extension>
</plugin>
