*.class
*.iml

# do not recursive exclude folders (otherwise a package named "bin" may not get recognized)
/target
/bin

# list all deleted folders here

/org.openntf.domino.plugin
/de.foconis.test
/org.openntf.formula/lib
/com.ibm.icu
/de.foconis.test
/org.openntf.domino.designer.sdk
/org.openntf.domino.plugin
/org.openntf.domino.xsp.update
/domino/org.openntf.domino.updatesite
/domino/externals/asm
/domino/externals/guava
/domino/externals/javassist
/domino/externals/javolution
/domino/externals/jsr305
/domino/externals/rxjava
/domino/externals/tinkerpop
/domino/junit4xpages
