<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
		id="odawinkservlet"
		name="odawinkservlet"
		point="org.eclipse.equinox.http.registry.servlets">
		<servlet alias="/oda" class="org.openntf.domino.rest.servlet.ODADataServlet">
			<init-param
				name="applicationConfigLocation"
				value="/WEB-INF/application">
			</init-param>
			<init-param
				name="propertiesLocation"
				value="/WEB-INF/das.properties">
			</init-param>
        	<init-param name="DisableHttpMethodCheck" value="true"/>			
		</servlet>
	</extension>
</plugin>