<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="org.openntf.domino.designer.builder"
         name="OpenNTF Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.openntf.domino.designer.builder.OpenNTFBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="org.openntf.domino.designer.nature"
         name="OpenNTF Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.openntf.domino.designer.builder.OpenNTFNature">
         </run>
      </runtime>
      <builder
            id="org.openntf.domino.designer.org.openntf.domino.designer.builder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="OpenNTF Project Nature commands"
            id="org.openntf.domino.designer.org.openntf.domino.designer.nature.category">
      </category>
      <command
            name="Add/RemoveOpenNTF Project Nature"
            defaultHandler="org.openntf.domino.designer.builder.AddRemoveOpenNTFNatureHandler"
            categoryId="org.openntf.domino.designer.org.openntf.domino.designer.nature.category"
            id="org.openntf.domino.designer.addRemoveOpenNTFNature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="org.openntf.domino.designer.addRemoveOpenNTFNature"
               label="Disable Sample builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              value="org.openntf.domino.designer.org.openntf.domino.designer.nature"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.openntf.domino.designer.addRemoveOpenNTFNature"
               label="Enable Sample builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <not>
                           <test
                                 value="org.openntf.domino.designer.org.openntf.domino.designer.nature"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
