<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="Domino Raw" sequenceNumber="118">
<locations>
<location path="${domino_shared_target}" type="Directory"/>
<location path="${domino_rcp_target}" type="Profile"/>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/XPages Domino JRE"/>
<launcherArgs>
<vmArgs>-Declipse.registry.nulltoken=true&#13;
-Dosgi.splashPath=platform:/base/../shared/eclipse/plugins/com.ibm.notes.branding&#13;
-Djava.util.logging.config.class=com.ibm.rcp.core.internal.logger.boot.LoggerConfig&#13;
-Dosgi.framework.extensions=com.ibm.rcp.core.logger.frameworkhook&#13;
-Dcom.ibm.pvc.webcontainer.port=0&#13;
-Djava.protocol.handler.pkgs=com.ibm.net.ssl.www.protocol&#13;
-Dosgi.hook.configurators.exclude=org.eclipse.core.runtime.internal.adaptor.EclipseLogHook,com.ibm.jxesupport.CDSHookConfigurator&#13;
"-Xbootclasspath/a:${domino_rcp_base}/rcpbootcp.jar"&#13;
-Xss512K&#13;
-Xms128m&#13;
-Xmx1024m&#13;
"-Drcp.data=${domino_rcp_data}"&#13;
"-Drcp.home=${domino_rcp_target}/../.."&#13;
"-Djava.security.policy=${domino_rcp_target}/../../../java.policy"</vmArgs>
<programArgs>-consoleLog -console -pluginCustomization "${domino_rcp_target}/../plugin_customization.ini"</programArgs>
</launcherArgs>
<implicitDependencies>
<plugin id="com.ibm.xsp.domino"/>
<plugin id="com.ibm.xsp.extsn"/>
<plugin id="com.ibm.xsp.core"/>
</implicitDependencies>
</target>
