<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright © 2013-2023 The OpenNTF Domino API Team

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<?eclipse version="3.4"?>
<plugin>
<!-- <extension
           id="org.openntf.domino.xsp.Servlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/openntf_domino"
              class="org.openntf.domino.xsp.OpenntfServlet"
              load-on-startup="true">
        </servlet>
     </extension> -->
   <extension
         point="com.ibm.commons.Extension">
      <service
            class="org.openntf.domino.xsp.XspLibrary"
            type="com.ibm.xsp.Library">
      </service>
   </extension>
   
   <!-- RPr: In my oppinion, the ViewNavigator works correctly as all fixes are done in the backend classes now-->
   <extension
         point="com.ibm.commons.Extension">
      <service
            class="org.openntf.domino.xsp.helpers.OpenntfViewNavigatorFactoryFactory"
            type="com.ibm.xsp.model.domino.ViewNavigatorFactory">
      </service>
   </extension>
   
    <extension point="com.ibm.commons.Extension">
         <service type="com.ibm.designer.runtime.extensions.JavaScriptProvider" class="org.openntf.domino.xsp.script.OpenDomJavaScriptExtension" />
   </extension>
   
    <extension-point id="org.openntf.domino.extmgr.subscriberProvider" name="OpenNTF Domino Api ExtMgr Subcriber Provider" schema="schema/org.openntf.domino.extmgr.subscriberProvider.exsd"/>
   
   <!-- needed to start automatically and initialize some core things -->
   <extension point="com.ibm.commons.Extension">
         <service type="com.ibm.xsp.adapter.serviceFactory" class="org.openntf.domino.xsp.adapter.OpenntfServiceFactory" />
   </extension>
   <!-- needed to register some additional factories -->
   <extension point="com.ibm.commons.Extension">
         <service type="com.ibm.xsp.library.Contributor" class="org.openntf.domino.xsp.OpenntfDominoXspContributor" />
   </extension>


   <extension
         point="com.ibm.commons.Extension">
      <service
            class="org.openntf.domino.xsp.script.WrapperOpenDomino"
            type="org.openntf.domino.xsp.script.WrapperRegistry">
      </service>
   </extension>
   
	<extension point="com.ibm.commons.Extension">
		<service class="org.openntf.domino.xsp.xots.XotsApplicationListener" type="com.ibm.xsp.core.events.ApplicationListener"/>
	</extension>
 <extension
       point="com.ibm.commons.Extension">
    <service
          class="org.openntf.domino.xsp.xots.XotsNsfScanner"
          type="org.openntf.domino.xots.tasklet">
    </service>
 </extension>
  
</plugin>
