<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!-- <extension
           id="org.openntf.domino.xsp.Servlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/openntf_domino"
              class="org.openntf.domino.xsp.OpenntfServlet"
              load-on-startup="true">
        </servlet>
     </extension> -->
   <extension
         point="com.ibm.commons.Extension">
      <service
            class="org.openntf.domino.xsp.XspLibrary"
            type="com.ibm.xsp.Library">
      </service>
   </extension>
   
   <!-- RPr: In my oppinion, the ViewNavigator works correctly as all fixes are done in the backend classes now-->
   <extension
         point="com.ibm.commons.Extension">
      <service
            class="org.openntf.domino.xsp.helpers.OpenntfViewNavigatorFactoryFactory"
            type="com.ibm.xsp.model.domino.ViewNavigatorFactory">
      </service>
   </extension>
   
    <extension point="com.ibm.commons.Extension">
         <service type="com.ibm.designer.runtime.extensions.JavaScriptProvider" class="org.openntf.domino.xsp.script.OpenDomJavaScriptExtension" />
   </extension>
   
   <!-- needed to start automatically and initialize some core things -->
   <extension point="com.ibm.commons.Extension">
         <service type="com.ibm.xsp.adapter.serviceFactory" class="org.openntf.domino.xsp.adapter.OpenntfServiceFactory" />
   </extension>
   <!-- needed to register some additional factories -->
   <extension point="com.ibm.commons.Extension">
         <service type="com.ibm.xsp.library.Contributor" class="org.openntf.domino.xsp.OpenntfDominoXspContributor" />
   </extension>


   <extension
         point="com.ibm.commons.Extension">
      <service
            class="org.openntf.domino.xsp.script.WrapperOpenDomino"
            type="org.openntf.domino.xsp.script.WrapperRegistry">
      </service>
   </extension>
   
	<extension point="com.ibm.commons.Extension">
		<service class="org.openntf.domino.xsp.xots.XotsApplicationListener" type="com.ibm.xsp.core.events.ApplicationListener"/>
	</extension>
 <extension
       point="com.ibm.commons.Extension">
    <service
          class="org.openntf.domino.xsp.xots.XotsNsfScanner"
          type="org.openntf.domino.xots.tasklet">
    </service>
 </extension>
  
</plugin>
