<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin  id="org.openntf.domino.plugin" name="OpenNTF Domino API Plugin" version="1.0">
  <!--   <extension point="org.eclipse.pde.core.javadoc">
     <javadoc path="doc/">
        <plugin id="org.openntf.domino.source"/>
     </javadoc>     
  </extension>-->
</plugin>
