<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin  id="org.openntf.domino.plugin" name="OpenNTF Domino API Plugin" version="1.0">
  <!--   <extension point="org.eclipse.pde.core.javadoc">
     <javadoc path="doc/">
        <plugin id="org.openntf.domino.source"/>
     </javadoc>     
  </extension>-->
  <extension
         point="com.ibm.commons.Extension">
      <service
            class="org.openntf.formula.function.Operators$Functions"
            type="org.openntf.formula.FunctionSet">
      </service>
   </extension>
   <extension
         point="com.ibm.commons.Extension">
      <service
	        class="org.openntf.formula.function.OperatorsBool$Functions"
            type="org.openntf.formula.FunctionSet">
      </service>
   </extension>
   <extension
         point="com.ibm.commons.Extension">
      <service
	        class="org.openntf.formula.function.Negators$Functions"
            type="org.openntf.formula.FunctionSet">
      </service>
   </extension>
   <extension
         point="com.ibm.commons.Extension">
      <service
	        class="org.openntf.formula.function.Comparators$Functions"
            type="org.openntf.formula.FunctionSet">
      </service>
   </extension>
   <extension
         point="com.ibm.commons.Extension">
      <service
	        class="org.openntf.formula.function.Constants$Functions"
            type="org.openntf.formula.FunctionSet">
      </service>
   </extension>
   <extension
         point="com.ibm.commons.Extension">
      <service
	        class="org.openntf.formula.function.MathFunctions$Functions"
            type="org.openntf.formula.FunctionSet">
      </service>
   </extension>
   <extension
         point="com.ibm.commons.Extension">
      <service
	        class="org.openntf.formula.function.DateTimeFunctions$Functions"
            type="org.openntf.formula.FunctionSet">
      </service>
   </extension>
   <extension
         point="com.ibm.commons.Extension">
      <service
	        class="org.openntf.formula.function.TextFunctions$Functions"
            type="org.openntf.formula.FunctionSet">
      </service>
   </extension>
  
</plugin>
